/* Base Application Styles */

.app {
  color: #666;
  max-width: 500px;
  margin: 0 auto;
}

.todo-item {
  padding: 0.4em 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
}

.todo-item.done {
  text-decoration: line-through;
}
