body {
    background-color: #3f3f3f;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

text {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    display: inline;
    margin: 5px;
}

svg {
    display: block;
    margin: 0 auto;
}

.hud-ui {
    padding: 20px;
}

.Timeline {
    position: fixed;
    bottom: 0;
    right: 25%;
    left: 25%;
}

.Timeline svg {
    display: inline;
    background-color: rgba(35,31,31,.3);
    box-shadow: 2px 2px rgba(51,51,51,255);
    bottom: 10px;
    height: 125px;
}

.Legend table {
    color: white;
    backface-visibility: ;
}

.card {
    background-color: rgba(35,31,31,.51);
}

.Map {
    position: fixed;
}

.Map > svg { 
    height: 100vh;
}

.map-point {
    cursor: pointer;
    stroke-width: 1;
    stroke: #0f0f0f;
    transition: stroke-width 200ms;
}

.map-point:hover {
    stroke-width: 2;
}

.map-selected {
    stroke-width: 4;
}

.map-piece {
    cursor: pointer;
    paint-order: stroke fill;
    stroke-width: 2;
    stroke: #0f0f0f;
    transition: opacity 200ms;
}

div .cholorpleth {
    margin: 0 auto;
}

.infobox-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.infobox {
    text-align: left;
    background: #2B2F37;
    border-color: #262626;
    color: white;
    width: 100%;
    height: 100%;
    height: calc(100vh - 100px);
    padding: 15px;
    padding-right: 30px;
    overflow-y: scroll;
    box-sizing: content-box;
    visibility: visible;
    transition: opacity 500ms, height 500ms, visibility 500ms;
}

.infobox-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.spacer {
    pointer-events: none;
}

.map-text {
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}

.legend-point {
    cursor: pointer;
    stroke-width: 0.5;
    stroke: #0f0f0f;
}

.legend-text {
    cursor: pointer;
    font-size: 8px;
    user-select: none;
}

.loading {
    color: white;
    font-size: 24px;
    text-align: center;
}

.tooltip p {
    text-align: left;
    margin: 0px;
}
