body {
    background-color: #3f3f3f;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
}

text {
    font-weight: bold;
    font-size: 24px;
}

h2 {
    display: inline;
    margin: 5px;
}

h1.app-title {
    padding: 10px;
}

svg {
    display: block;
    margin: 0 auto;
}

.b {
    font-weight: bold;
}

.hud-ui {
    padding: 20px;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

button {
    pointer-events: auto;
    background-color: #3f3f3f;
    border-color: #3f3f3f;
    color: white;
    padding: 10px;
    font-size: 12px;
    transition: color 0.5s, background-color 0.25s;
    width: 100%;
}

button:hover {
    background-color: #3f3f3f;
    color: white;
}

button:active {

}

.Timeline {
    position: fixed;
    bottom: 10px;
    height: 125px;
    width: 100%;
}

.Timeline svg {
    display: inline;
    background-color: #f8f9fa;
    stroke-opacity: 0.5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    bottom: 10px;
    margin: 20px;
    padding: 10px;
    height: 125px;
}

.card {
    margin: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #f8f9fa;
}

button {
    color: black;
}

.Map {
    position: fixed;
    margin: 0 auto;
    z-index: 0;
}

.Map > svg {
    height: 100vh;
}

#osm-map {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.map-point {
    cursor: pointer;
    stroke-width: 1;
    stroke: #0f0f0f;
    transition: stroke-width 200ms;
    pointer-events: auto;
}

.map-point:hover {
    stroke-width: 2;
}

.map-selected {
    stroke-width: 4;
}

.map-piece {
    cursor: pointer;
    paint-order: stroke fill;
    stroke-width: 3;
    stroke: #0f0f0f;
    fill-opacity: 0.7;
    transition: fill 0.5s;
}

.map-piece:hover {
    fill-opacity: 0.8;
}


div .cholorpleth {
    margin: 0 auto;
}

.small text{
    font-size: 10px;
}

.infobox {
    text-align: left;
    background: rgb(255, 255, 255);
    border-color: #262626;
    color: rgb(0, 0, 0);
    width: 100%;
    height: calc(100vh - 200px);
    padding: 15px;
    overflow-y: auto;
    box-sizing: content-box;
    visibility: visible;
    transition: opacity 500ms, height 500ms, visibility 500ms;
    pointer-events: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.infobox-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.infobox ul {
    list-style-type: none;
    padding: 0;
}

.infobox ul li:nth-child(odd) {
    background-color: powderblue;
}

.infobox ul li {
    padding: 5px;
    cursor: pointer;
}

.infobox h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.hud-ui {
    pointer-events: none;
}

.map-text {
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}

.legend-point {
    cursor: pointer;
    stroke-width: 0.5;
    stroke: #0f0f0f;
}

.legend-text {
    cursor: pointer;
    font-size: 8px;
    user-select: none;
}

.loading {
    color: white;
    font-size: 24px;
    text-align: center;
}

.tooltip p {
    text-align: left;
    margin: 0px;
}
