body {
    background-color: #3f3f3f;
    font-family: 'Lato', sans-serif;
}

text {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: white;
}

svg {
    display: block;
    margin: 0 auto;
}

.map-piece {
    cursor: pointer;
}

div .map {
    margin: 0 auto;
}

.tooltip {
    position: absolute;
    display:inline-block;
    background: #2B2F37;
    border-color: #262626;
    box-shadow: 0px 1px 5px #000000;
    color: white;
    padding: 10px;
    font-weight: bold;
    user-select: none;
    opacity: 0;
}

.loading {
    color: white;
    font-size: 24px;
    text-align: center;
}